<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>

    <style>

        body {
            background-color: #afc4ea;
        }

        h3 {
            color: #b58c8c;
            margin-left: 100px;
            margin-top: 40px;
        }

        h4 {
            margin-left: 170px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h3>接口数据平台~</h3>
        <h4><a href="">商品主数据下发接口(SAP - ZPT01)</a></h4>
        <h4><a href="">门店主数据下发接口(SAP - ZPT02)</a></h4>
        <h4><a href="">客户主数据下发接口(SAP - ZPT03)</a></h4>
        <h4><a href="">供应商主数据下发接口(SAP - ZPT04)</a></h4>
        <h4><a href="">成本中心主数据下发接口(SAP - ZPT06)</a></h4>
    </div>
</body>
</html>